www/js
www/css
build/
node_modules
platforms/ios/build/
platforms/ios/www/
platforms/android/assets/www
platforms/browser/www/
platforms/android/CordovaLib/bin/
platforms/android/CordovaLib/xwalk_core_library/bin/

ant-build
platforms/android/.gradle/2.2.1/taskArtifacts/
platforms/*/build
.idea/workspace.xml
*~
/config.xml
/mediagen-config.json
www/index.html
.DS_Store
/.idea
/assets/itweet/icon_android/
/assets/itweet/icon_ios/
/assets/rhb/icon_android/
/assets/rhb/icon_ios/
/assets/itweet/splash_android/
/assets/itweet/splash_ios/
/assets/rhb/splash_android/
/assets/rhb/splash_ios/
