<md-toolbar class="md-primary sm-toolbar" ng-controller="MenuController">
    <div class="md-toolbar-tools md-padding">
		
    	<md-button ng-show="menu_parameters.icon" ng-click="menuController.menuClicked()" class="md-icon-button" aria-label="Menu">
    		<ng-md-icon icon='{{ menu_parameters.icon }}' style="fill: white"></ng-md-icon>
    	</md-button>

		<md-button ng-show="menuController.storeVisible()" ng-click="menuController.storeClicked()" class="md-icon-button" aria-label="Stored Tweets">
			<ng-md-icon icon='folder_open' style="fill: white"></ng-md-icon>
		</md-button>
        
    	<h3 flex layout layout-align="center center" ng-bind="menu_parameters.title"></h3>
		<img class="headerimage" ng-show="loaded && !navigationService.isCurrentStateOverview()"
                ng-if="brand.getResponseData().urlIconLogo" ng-src="{{::brand.getResponseData().urlIconLogo}}"
                ng-onload="loaded = true"/>
        <md-button ng-show="navigationService.shouldDisplayAllMessages()" ng-click="navigationService.goType('alltweets')" class="md-icon-button" aria-label="All Tweets">
            <ng-md-icon icon='info_outline' style="fill: white"></ng-md-icon>
        </md-button>
    </div>
    <md-progress-linear fill-layout md-mode="{{networkServiceHolder['primary'].loading?'indeterminate':'determinate'}}">
    </md-progress-linear>
  </md-toolbar>
